@charset "UTF-8";

/* em HTML é id = em CSS é #
    em HTML é class = em CSS é .
 */

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(4, 109, 0)
}
h1#principal{
    text-align: center;;
}
h2{
    color: rgb(73, 109, 071)
}
.basico{
    color: rgb(87, 224, 87)
}
.intermediario{
    color: rgb(208, 211, 27);
}
.avancado{
    color: rgb(209, 43, 43);
}