body {
    margin: 40;

}


.container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1);
    overflow: hidden;
}

button {
    margin: 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    padding:8px 15px;
    border-radius:8px;
}

.card p {
    margin-left: 80px;
}

.card:hover{
    transform: translateY(-10px);
}