body {
    background-color: yellow;
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
}

header > h1{
    padding: 5px 5%;
}

header .logo {
    height: 100px;
    padding: 5px 5%;
}

nav {
    background-color: gray;
}

nav > a{
    color: #333;
    text-decoration: none;
    padding: 1%;
}

main {
    background-color: green;
    max-width: 1200px;
    min-width: 320px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
}
.rino{
    display: flex;
    max-width: 1200px;
    min-width: 320px;
    margin: 30px auto;
}

aside {
    background-color: orange;
    margin: 20px;
}

footer {
    background-color: blue;
    margin: auto;
    display: flex;
    text-align: center;
}